<div class="ibox">
  <div class="ibox-content">
      <h1><%= @admin_product.name %></h1>
      <p>
        價錢: <%= @admin_product.price %>
      </p>
      <p>
        折扣: <%= @admin_product.discount %>
      </p>
      <%= link_to '回列表', admin_products_path %>
      <%= link_to '編輯', edit_admin_product_path(@admin_product) %>
      <%= link_to '刪除', @admin_product, method: :delete, confirm: '確定刪除?'%>
  </div>
</div>

