<div class="ibox">
  <div class="ibox-content">
      <h1><%= @product.name %></h1>
      <p>
        價錢: <%= @product.price %>
      </p>
      <p>
        折扣: <%= @product.discount %>
      </p>
      <%= link_to '回列表', admin_products_path %>
      <%= link_to '編輯', edit_admin_product_path(@product) %>
      <%= link_to '刪除', @product, method: :delete, confirm: '確定刪除?'%>
  </div>
</div>

